* {
    font-family: 'Courier Prime', monospace;
}

// html,
// body {
//     overflow: hidden;
// }

#matrix {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.screen {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    text-align: start;
    background: rgba($color: #000000, $alpha: 0.4);
    color: lime;
    white-space: pre-wrap;
    z-index: 3;



    span {
        visibility: hidden;
    }

    span.visible {
        visibility: visible;
    }

    span.cursor {
        background: lime;
        border: 3px solid;
        animation: blinking 1s step-start infinite;
    }

    &__language {
        cursor: pointer;
    }

    :nth-last-child(-n + 17) {
        cursor: pointer;
        font-weight: 700;
    }

}


@keyframes blinking {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


// @media (max-width: 480px) {
//     .screen {
//         width: 100px;
//     }
// }
